<nav class="navbar navbar-purple affix-top" id="fixed-lower-nav">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/Module2/london">
          <span class="glyphicon glyphicon-home"> </span> Select a city:</a>
      </li>
      <li class="active">
        <a href="/Module2/london">London</a>
      </li>
      <li>
        <a href="/Module2/paris">Paris</a>
      </li>
      <li>
        <a href="/Module2/newyork">New York</a>
      </li>
      <li>
        <a href="/Module2/madrid">Madrid</a>
      </li>
    </ul>
  </div>
</nav>