<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
  <link href="../stylesheets/fonts/fonts.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/index.css">
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron">
  <br>
  <br>
  <div class="container">
      <div class="boxset ">
          <div class="bio-padding">
              <div class="grey-bg">
                  <img src="../images/me.jpg" class="img-me center-block " />
              </div>
              <h2 class="h3">Kevin Meeren</h2>
              <p>I'm passionate about IT and learning new technologies, Libraries, APIs and Platforms. My biggest achievement
                  was deploying a full application in the cloud, gathering data from the , putting it into a database and then
                  making a dynamic, responsive, mobile-first frontend using that data on a website.</p>
          </div>
          <div class="bio-content">
            <div class="intro">

            </div>
            <ul class="modules"></ul>

          </div>
      </div>

  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <strong>MongoDB (MySQL), ExpressJS, AngularJS, NodeJS (Full Stack MEAN Development)</strong>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app was deployed</h3>
      <ul>
        <li>This app was deployed on Heroku using the dynos and a MongoDB in MLab was also subscribed to.</li>

        <li>A Github account was created to publish the work, not only for development but also for marking purposes.</li>
        <li>NodeJS and all the dependencies were installed using Gitbash</li>
        <li>Other learnings include GULP, GRUNT, Connecting to MongoDB and MySQL from Express and also using third-party APIs for use with images and so on.</li>
      </ul>
    </div>
    <div class="col-md-6">

      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li>My PHP/Apache Website can be found <a href="https://www.kevintech.co.uk">here</a></li>
        <li>My Github repository can be found using this <a href="https://github.com/black-tomcat-dev"> link</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
<div class="container">
  <div class="alert alert-info text-center">
   <strong> This is a personal Website and should not be used without permission.</strong>
  </div>
</div>
<script src="../js/main.js"></script>

</body>
</html>
